body {
  background-color: #5D9CEC;
}
.topBar {
  width: 100%;
  height: 120px;
  position: absolute;
  left: 0px;
  top: 0px;
  background-color: #5D9CEC;
  margin: 0 0 0 0;
  overflow: hidden;
  text-align: center;
}
.topBar i {
  color:white;
  margin-top: 40px;
}
h1{
  font-family: 'Quicksand', sans-serif;
  font-size: 36px;
  text-align: center;
  color:white;
}
h2{
  font-size: 28px;
}
h3{
  font: 26px;
}
.navbar {
  width: 100%;
  height: 50px;
  position: absolute;
  left: 0px;
  top: 120px;
  display: block;
  background-color: #040303;
  text-align: center;
}
.navbar a {
  text-decoration: none;
  color: white;
  margin: 0px 20px 0px 20px;
  font-family: 'Quicksand', ans-serif;
  font-size: 20px;
  top: 12.5px;
  bottom: 12.5px;
}
.mainBody {
  width: auto;
  height: auto;
  margin-top: 160px;
  margin-left: 100px;
  margin-right: 100px;
  padding: 20px;
  background-color: #B6D3FA;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  color:black;
  font-size: 16px;
  list-style:none;
  border-radius: 25px;
  box-shadow:0 0 15px #040303;
}
.mainBody li {
  list-style: none;
  padding: 5px;
  margin: auto;
}
.mainBody img {
  background-color:#5D9CEC;
}
.footBar {
  width: 100%;
  height: 40px;
  position: relative;
  display: block;
  background-color: #040303;
}
.footCopyright {
  width: 100%;
  height: 120px;
  position: relative;
  background-color: #5D9CEC;
  margin: 0 0 0 0;
  overflow: hidden;
}
#img-cont {
  margin-top: 100px;
  margin-left: 50px;
  margin-right: 50px;
}
#img1 {
  float: left;
  width: 30%;
  height: 300px;
  border-radius: 20px;
  border: 1px solid black;
}
#img2 {
  float: left;
  width: 30%;
  height: 300px;
  margin-left: 5%;
  border-radius: 20px;
  border: 1px solid black;
}
#img3 {
  float: right;
  width: 30%;
  height: 300px;
  border-radius: 20px;
  border: 1px solid black;
}
.myButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf));
	background:-moz-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:-webkit-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:-o-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:-ms-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf',GradientType=0);
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#777777;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed));
	background:-moz-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:-webkit-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:-o-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:-ms-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed',GradientType=0);
	background-color:#dfdfdf;
}
.myButton:active {
	position:relative;
	top:1px;
}

//AboutUs CSS
.mainBody section {
  background-color:white;
  height:300px;
  width: 100%;
}

#joelAboutMe {
  text-align: left;
}
