body {
  background-color: #5D9CEC;
}
.topBar {
  width: 100%;
  height: 120px;
  position: absolute;
  left: 0px;
  top: 0px;
  background-color: #5D9CEC;
  margin: 0 0 0 0;
  overflow: hidden;
}
h1{
  font-family: 'Quicksand', sans-serif;
  font-size: 36px;
  text-align: center;
  color:white;
}
h2{
  font-size: 28px;
}
h3{
  font: 26px;
}
.navbar {
  width: 100%;
  height: 50px;
  position: absolute;
  left: 0px;
  top: 120px;
  display: block;
  background-color: #040303;
  text-align: center;
}
.navbar a {
  text-decoration: none;
  color: white;
  margin: 0px 20px 0px 20px;
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
}
.mainBody {
  width: auto;
  height: 600px;
  margin-top: 160px;
  margin-left: 100px;
  margin-right: 100px;
  padding: 20px;
  background-color: #B6D3FA;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  color:white;
  font-size: 16px;
  list-style:none;
  border-radius: 25px;
  box-shadow:0 0 15px #040303;
}
.mainBody li {
  list-style: none;
  padding: 5px;
  margin: auto;
}
.mainBody img {
  background-color:#5D9CEC;
}
.footBar {
  width: 100%;
  height: 50px;
  position: absolute;
  left: 0px;
  display: block;
  background-color: #040303;
}
.footCopyright {
  width: 100%;
  height: 120px;
  position: absolute;
  left: 0px;
  top: 860px;
  background-color: #5D9CEC;
  margin: 0 0 0 0;
  overflow: hidden;
}
#img-cont {
  margin-top: 100px;
  margin-left: 50px;
  margin-right: 50px;
}
#img1 {
  float: left;
  width: 30%;
  height: 300px;
  border-radius: 20px;
  border: 1px solid black;
  border-radius: 25px;
}
#img2 {
  float: left;
  width: 30%;
  height: 300px;
  margin-left: 5%;
  border-radius: 20px;
  border: 1px solid black;
}
#img3 {
  float: right;
  width: 30%;
  height: 300px;
  border-radius: 20px;
  border: 1px solid black;
}
#generated-list {
  float: center;
  width: 50%;
  height: 400px;
  color: brown;
  font-style: bolder;
  padding: 10px;
}
